<a href="https://colab.research.google.com/github/IvankoPilotOfHalychyna/Foundations_AI/blob/main/Tutorial1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tutorial 1

During the first few exercises, we will work with Google Colab. We will learn the basics of adding new scripts, saving them in a repository, as well as the fundamentals of working with data types, variables, and other basic constructs that you already know from Java.

## Introduction

### Displaying data

In [ ]:
print("Hello, world!")
print("Hello,", "Anna")   # several elements can be combined

### Variables and data types

A variable is created simply by assigning a value:

In [ ]:
x = 10          # integer (int)
y = 3.14        # floating-point number (float)
name = "John"   # string (str)
student = True  # boolean value (bool)

Checking the variable type:

In [ ]:
print(type(x))     # <class 'int'>
print(type(name))  # <class 'str'>

### Arithmetic operators

In [ ]:
a = 7
b = 3
print(a + b)    # addition → 10
print(a - b)    # subtraction → 4
print(a * b)    # multiplication → 21
print(a / b)    # division → 2.333...
print(a // b)   # integer division → 2
print(a % b)    # remainder → 1
print(a ** b)   # exponentiation → 343

### Comparison operators

In [ ]:
print(5 > 3)   # True
print(5 == 3)  # False
print(5 != 3)  # True

### Type conversions

In [ ]:
x = "123"
y = int(x)     # conversion from string → int
print(y + 10)  # 133
z = str(456)   # conversion from int → string
print("The number is " + z)

### Getting input from the user

In [ ]:
name = input("Enter your name: ")
print("Hi,", name)
year = int(input("Enter your birth year: "))
age = 2025 - year
print("You are", age, "years old.")

## Exercises 1–9

### Exercise 1  
1. Create a variable named `x` with the value `10`.  
2. Instruct the computer to show the value of this variable. Try doing it in two different ways: using the `print` function and without it.  
3. Try to create four variables **a, b, c, d** and assign them the values **10, 20, 30, 40** in one line. Then print the result to the console.

In [ ]:
x = 10
print(x)
a=10; b=20; c=30; d=40;
print(a,b,c,d)

### Exercise 2  
Write a program that:  
1. Assigns your name to the variable `name`.  
2. Displays a message in the form:  
``` Hello, [name]! ```

In [ ]:
name='Ivan'
print("Hello, " + name)

### Exercise 3  
1. Create two variables: `a = 7`, `b = 3`  
2. Calculate and display:  
    * the sum,  
    * the difference,  
    * the product,  
    * the quotient.

In [ ]:
a=7; b=3;
print(a+b)
print(a-b)
print(a*b)
print(a/b)

### Exercise 4  
1. Create a variable `x = "123"`.  
2. Convert `x` to an integer and add 10 to it.  
3. Display the result as a string in the form:  
```The result of the addition is: 133```

In [ ]:
x='123'
x=int(x)
x=x+10
print('The result of addition is: ',x)

### Exercise 5  
Write a program that:  
1. Creates variables:  
 * `age = 20`  
 * `average = 4.75`  
 * `student = True`  
 * `name = "Anna"`  
2. For each variable, prints its type, for example:  
```The variable age is of type: <class 'int'>```

In [ ]:
age=20
average=4.75
student= True
name="Anna"
print("The variable age is of type: ", type(age))
print("The variable average is of typ:e ", type(average))
print("The variable student is of type: ", type(student))
print("The variable name is of type: ", type(name))

### Exercise 6  
1. Ask the user to enter their birth year.  
2. Calculate their age (assuming the current year is 2025).  
3. Display the message:  
```You are [age] years old.```

In [ ]:
year = input("Enter your birth year: ")
age=2025-int(year)
print("You are ", age, "years old")

### Exercise 7  
Write a function `calculator(a, b, op)`, where `op` is a symbol: `+`, `-`, `*`, `/`.

The function should return the result of the operation, for example:
```
calculator(4, 2, "+")  # 6
calculator(4, 2, "/")  # 2.0
```

In [ ]:
def calculator(a, b, op):
    if op == "+":
        return a + b
    elif op == "-":
        return a - b
    elif op == "*":
        return a * b
    elif op == "/":
        return a / b
    else:
        return "Invalid operator"

print(calculator(5,6,"+"))

### Exercise 8  
Write a function `bmi(weight, height)` that:  
* calculates the BMI index using the formula: BMI = $\frac{\text{weight}}{(\text{height})^2}$
* returns a message:  
  * `< 18.5` → "underweight"  
  * `18.5-24.9` → "normal weight"  
  * `25-29.9` → "overweight"

In [ ]:
def bmi(weight, height):
  if (weight/(height*height))<18.5:
    print("underweight")
  elif (weight/(height*height))>18.5 and (weight/(height*height))<24.9:
    print("normal weight")
  elif (weight/(height*height))>25 and (weight/(height*height))<29.9:
    print("overweight")
bmi(75,180)

### Exercise 9  
Write a function `tax(income)` that calculates the tax for a given income (`income`) according to the simplified system:  
* up to 30,000 zł → 10%  
* from 30,001 to 100,000 zł → 20%  
* above 100,000 zł → 30%

In [ ]:
def tax(income):
  if income<=30000:
    print(income*0.1)
  elif income>30000 and income<=100000:
    print(income*0.2)
  elif income>100000:
    print(income*0.3)
tax(42000)

##  Loops, arrays, collections

### Creating a list

In [ ]:
numbers = [1, 2, 3, 4, 5]   # list with values
empty = []                  # empty list
mixed = [1, "text", 3.14]   # list with different types

### Basic operations

In [ ]:
numbers = [10, 20, 30, 40]

print(numbers[0])           # access element → 10
print(numbers[-1])          # last element → 40

numbers.append(50)          # add element at the end
numbers.insert(1, 15)       # insert element at index
numbers.remove(30)          # removes first occurrence of 30
numbers.pop()               # removes last element
numbers.sort()              # sort ascending
numbers.reverse()           # reverse order
print(len(numbers))         # length of the list

### Searching and checking

In [ ]:
print(20 in numbers)        # True, checks for presence
print(numbers.index(40))    # index of element 40

### Slicing (cutting out fragments)

In [ ]:
print(numbers[1:3])   # from index 1 to 2
print(numbers[:2])    # from the beginning to 1
print(numbers[2:])    # from index 2 to the end
print(numbers[::2])   # every second element

### Iteration over elements

In [ ]:
for x in numbers:
 print(x)

### Iteration over indexes

In [ ]:
for i in range(len(numbers)):
 print(i, numbers[i])

### Enumeration (index + value simultaneously)

In [ ]:
for i, value in enumerate(numbers):
 print(i, value)

### While loop

In [ ]:
 i = 0
 while i < len(numbers):
  print(numbers[i])
  i += 1

### List comprehension

In [ ]:
squares = [x**2 for x in numbers]
print(squares)

## Exercise 10-14

### Exercise 10 - Reversing a list  
Write a function that **reverses a list** without using the `reverse()` method or slicing with `[::-1]`.  

 (np. `["a", "b", "c", "d"] → ["d", "c", "b", "a"]`)

In [ ]:
mas=["a","b","c","d"]
def customReverse(list):
  for i in range(int(len(list)/2)):
    tmp = list[i]
    list[i]=list[len(list)-i-1]
    list[len(list)-i-1]=tmp
  return list
print(customReverse(mas))

['d', 'c', 'b', 'a']

### Exercise 11 - Counting occurrences  
For the list:

```fruits = ["apple", "banana", "apple", "orange", "banana", "apple"]```

Count how many times each fruit appears and store the result in a dictionary, for example:

```{"apple": 3, "banana": 2, "orange": 1}```

In [ ]:
fruits = ["apple", "banana", "apple", "orange", "banana", "apple"]
dictionary={}
for i in fruits:
  if i in dictionary:
    dictionary[i]+=1
  else:
    dictionary[i]=1
print(dictionary)

{'apple': 3, 'banana': 2, 'orange': 1}

### Exercise 12 - Data normalization  
You have a list of values:  
`data = [10, 20, 30, 40, 50]`

Write a function `normalize(data)` that returns a list of values scaled to the range `[0, 1]` according to the formula:

$ x' = \frac{x - min}{max - min}$

In [ ]:
data = [10,20,30,40,50]
def normalize(data):
    min_val = min(data)
    max_val = max(data)
    return [(x - min_val) / (max_val - min_val) for x in data]
print(normalize(data))

[0.0, 0.25, 0.5, 0.75, 1.0]

### Exercise 13 - Bag of Words (word counting)  
You have a list of sentences:  
```
sentences = [
 "I like Python",
 "Python is great for AI",
 "I like AI"
]
 ```

Write a function `bag_of_words(sentences)` that returns a dictionary with the frequency of each word.

In [ ]:
def bag_of_words(sentences):
    words = {}
    for sentence in sentences:
        for word in sentence.split():
            word = word.lower()  # normalize case
            words[word] = words.get(word, 0) + 1
    return words
sentences = [
    "I like Python",
    "Python is great for AI",
    "I like AI"
]
print(bag_of_words(sentences))

{'i': 2, 'like': 2, 'python': 2, 'is': 1, 'great': 1, 'for': 1, 'ai': 2}

### Exercise 14 - Perfect numbers  
Write a function `is_perfect(n)` that checks if a number is **perfect**, meaning it is equal to the sum of its proper divisors.

Example: `6` → divisors 1 + 2 + 3 = 6 → perfect number.

In [ ]:
def is_perfect(n):
    sum_divisors = 0
    for i in range(1, n):
        if n % i == 0:
            sum_divisors += i
    return sum_divisors == n
print(is_perfect(6))

True